@import url('https://fonts.googleapis.com/css2?family=Birthstone+Bounce:wght@400;500&family=Bodoni+Moda:wght@400;500;600;700&display=swap');

:root {
  --border: 0.5px solid;
  --df-rl-padding: 20px;
  --df-tb-padding: 40px;
  /* Colours */
  --sunflower-yellow: #ffcc33;
  --rose-gold: #b76e79;
  --burgundy: #5d0b09;
  --navy: #002855;
  /* Fonts */
  --font-family: 'Bodoni 72', sans-serif;
  /* Font Weight */
  --fw-bold: 700;
  --fw-semibold: 600;
  --fw-normal: normal;
  /* Font Size */
  --fs-h1: calc(24px + (48 - 24) * ((100vw - 300px) / (1600 - 300)));
  --fs-h2: calc(22px + (36 - 22) * ((100vw - 300px) / (1600 - 300)));
  --fs-h3: calc(20px + (28 - 20) * ((100vw - 300px) / (1600 - 300)));
  --fs-h4: calc(18px + (24 - 18) * ((100vw - 300px) / (1600 - 300)));
  --fs-h5: calc(16px + (20 - 16) * ((100vw - 300px) / (1600 - 300)));
}

/* Font Rules */
h1 {
  font-size: var(--fs-h1);
  font-weight: var(--fw-bold);
}

h2 {
  font-size: var(--fs-h2);
  font-weight: var(--fw-bold);
}

h3 {
  font-size: var(--fs-h3);
  font-weight: var(--fw-semibold);
}

h4 {
  font-size: var(--fs-h4);
  font-weight: var(--fw-semibold);
}

h5 {
  font-size: var(--fs-h5);
  font-weight: var(--fw-semibold);
}

h6 {
  font-size: 16px;
  font-weight: var(--fw-semibold);
}

/* General Rules */
body, html {
  font-family: var(--font-family);
  font-size: 1em;
  font-weight: var(--fw-normal);
  color: var(--navy);
}

h1, h2 {
  padding-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family);
}

a {
  color: var(--navy);
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  color: var(--rose-gold);
}

.bg-navy {
  background-color: var(--navy);
  color: var(--bs-white)
}

.section-centered {
  justify-content: center;
  align-content: center;
  align-items: center;
}

.flex {
  display: flex;
  width: 100%;
}

.container-padding {
  padding-left: var(--df-rl-padding);
  padding-right: var(--df-rl-padding);
}

.inside-section {
  padding: var(--df-tb-padding) var(--df-rl-padding);
  margin: 0 auto;
  max-width: 1200px;
}

.grid {
  display: grid;
}

.no-style-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* General Media Query */
@media screen and (max-width: 40em) {
  .hide-mobile {
    display: none;
  }
}

@media screen and (max-width: 60em) {
  .hide-tablet {
    display: none;
  }
}

/* Navigation */
.navigation-wrapper {
  flex-wrap: inherit;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: var(--border) var(--bs-white);
  margin-left: var(--df-rl-padding);
  margin-right: var(--df-rl-padding);
  padding-bottom: 10px;
}

#mainNav {
  font-family: var(--font-family);
  padding: 10px 0;
}

#mainNav.navbar-shrink {
  background-color: var(--navy);
}

#mainNav.navbar-shrink .navigation-wrapper {
  border-bottom: none;
  padding-bottom: 0;
}

#nav-logo {
  width: 2.5em;
}

#navbar-menu-mobile {
  color: #ffffff;
  background-color: transparent;
  border: none;
  font-size: 1.25rem;
  line-height: 1;
}

.nav-link {
  color: var(--bs-white);
  font-weight: var(--fw-bold);
  padding-bottom: 0;
}

.nav-btn {
  padding-left: 15px;
}

.nav-btn .btn-secondary {
  color: var(--bs-white);
  background-color: rgb(0 40 85 / 25%);
  border-color: var(--bs-white);
}

.nav-btn .btn-secondary:active {
  color: var(--sunflower-yellow);
  background-color: rgb(0 40 85 / 25%);
  border-color: var(--sunflower-yellow);
}

.nav-btn .btn-secondary:focus {
    color: var(--sunflower-yellow);
    background-color: rgb(0 40 85 / 25%);
    border-color: var(--sunflower-yellow);
    box-shadow: 0 0 0 0.25rem rgb(76 91 106 / 50%);
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover,
#mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: var(--sunflower-yellow);
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
  background-color: transparent;
  border-bottom: 0.5px solid var(--bs-white);
  color: var(--sunflower-yellow);
}

/* Jumbotron */
header#jumbotron-header {
  flex-direction: column;
}

i#jump-to-chevron {
  bottom: 0;
  position: absolute;
  margin-bottom: 10px;
  font-size: 2em;
  color: var(--bs-white);
}

.jumbotron-image {
  background-image: url('../assets/img/K+J/K+J-50.jpg');
  background-position: center 35%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#jumbotron-intro-name {
  font-family: 'Birthstone Bounce', cursive;
  color: var(--sunflower-yellow);
  font-size: calc(48px + (100 - 48) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 500;
}

.jumbotron-support-desc {
  font-weight: var(--fw-bold);
  text-transform: uppercase;
}

#jumbotron-intro-title {
  font-size: var(--fs-h3);
}

/* Jumbotron Media Queries */
@media screen and (max-width: 40em) {
  .jumbotron-support-desc {
    font-size: var(--fs-h3);
  }
}

/* Grid Gallery */
.full-width-banner {
  display: flex;
  gap: 2em;
  justify-content: space-between;
}

.grid-container {
  min-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  background-color: var(--navy);
}

.grid-container>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Grid Media Queries */
@media screen and (min-width: 40em) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 60em) {
  .grid-container {
    grid-gap: 10px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 10em);
  }

  .small-img {
    grid-column: span 1;
    grid-row: span 1;
  }

  .medium-img {
    grid-column: span 2;
    grid-row: span 2;
    object-position: center 38%;
  }

  .large-img {
    grid-column: span 2;
    grid-row: span 3;
  }

  .x-large-img {
    grid-column: span 4;
    grid-row: span 4;
  }
}

/* Tabs */
/* Vertical Tabs */
.nav-pills .nav-link {
  background-color: var(--bs-white);
  color: var(--burgundy);
  border-radius: 0;
  border: 0.5px solid var(--burgundy);
  padding: 10px 0em;
  width: 100%;
}

.nav-pills .nav-link.active {
  background-color: var(--navy);
  color: var(--bs-white);
}

.tab-content {
  padding: 10px;
  text-align: left;
}

.tab-title {
  border-bottom: 3px solid var(--sunflower-yellow);
  padding-bottom: 3px;
}

/* Vertical Tabs Media Queries */
@media screen and (min-width: 60em) {
  .tab-content {
    padding: 10px 20px;
    width: 100%;
  }

  .tab-content p {
    margin: 0;
  }
}

.tab-content ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Wedding Details */
#wedding-details-wrapper {
  border: 0.5px solid var(--burgundy);
}

#venue-details .tab-content ul {
  margin: 1em 0;
}

/* Wedding Details Media Queries */
@media screen and (min-width: 60em) {
  #wedding-details-wrapper {
    grid-template-columns: 2fr 1fr;
  }

  #venue-details {
    display: flex;
  }
}

/* Where to Stay */
#hotel-grid {
  gap: 20px;
}

.info-list {
  text-indent: -8px;
  margin-left: 14px;
}

.hotel-link {
  font-size: var(--fs-h5);
}

/* Where to Stay Media Queries */
@media screen and (min-width: 40em) {
  #hotel-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
}

/* Parallax */
.parallax {
  /* The image used */
  background-image: url("../assets/img/K+J/K+J-96.jpg");
  /* Set a specific height */
  min-height: 250px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: 35% center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Parallax Media Queries */
@media screen and (min-width: 40em) {
  .parallax {
    min-height: 300px;
  }
}

/* Registry */
#registry-grid {
  gap: 20px;
}

#registry img {
  width: 50%;
}

#registry #registry-grid img {
  width: 30%;
}

/* Registry Media Queries */
@media screen and (min-width: 40em) {
  #registry-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
  }

  #registry #registry-grid img {
    width: 55%;
  }

  #registry img {
    width: 30%;
  }
}

/* FAQ */
button.accordion-button.collapsed:focus {
  box-shadow: 0px 3px 6px var(--burgundy);
}

.accordion-header {
  padding-bottom: 0;
}

.accordion-body {
  padding: 10px;
  background-color: rgb(0 40 85 / 8%);
}

.accordion-item {
  border: 0.5px solid var(--burgundy);
}

.accordion-button:not(.collapsed) {
  color: var(--bs-white);
  background-color: var(--navy);
  box-shadow: 0 3px 6px #eee;
}

/* Footer */
.copyright {
  background-color: var(--navy);
}
